$background-colors: (
  "green": rgb(52, 199, 89),
  "red": rgb(255, 59, 48),
  "blue": rgb(0, 122, 255),
  "yellow": rgb(255, 204, 0)
);

$piece-colors: (
  "green": #44e56c,
  "red": #ff3f33,
  "blue": #1e98ff,
  "yellow": #fff166
);

$rotation: (
  "green": 90deg,
  "red": 180deg,
  "blue": 270deg,
  "yellow": 360deg
);
