@import "mixins";
  
*
  box-sizing: border-box

#app
  @include flex-center
  margin: 1rem 0
  flex-direction: column

  & button
    margin-bottom: 2rem

.row
  display: flex
  flex: 0 0 auto
  
  &--horizontal
    flex-direction: row

    &.row--reversed
      flex-direction: row-reverse

  &--vertical
    flex-direction: column

    &.row--reversed
      flex-direction: column-reverse

  &--end > *
    align-self: flex-end