@import "mixins"

.mask
  @include flex-center
  position: absolute
  width: 100%
  height: calc(100% + 29px)
  background: rgba(black, .5)
  z-index: 100

.modal
  @include flex-center
  flex-direction: column
  background: white
  width: 400px
  padding: 2rem 1rem
  border-radius: .35rem
  text-align: center
  z-index: 101

  & span
    font-weight: bold
    font-size: 2.5rem

  & button
    margin: .5rem    