@import "variables"
  
.piece
  height: 1.85rem
  flex-basis: 1.85rem
  border-radius: 50%
  opacity: 1
  box-shadow: inset 0px -8px 2px 0px rgba(black, 0.19), inset 0px -4px 0px 0px rgba(black, 0.12)

  @each $name, $color in $piece-colors
    &--#{$name}
      background: linear-gradient(to top, $color, lighten($color, 10%))

  &--awaiting
    cursor: pointer
    z-index: 105

@keyframes test
  0%
    transform: translate(0, 0)
  
  18.18%
    transform: translate(-7.8rem, 0)

  54.55%
    transform: translate(-7.8rem, 15.6rem)

  63.64%
    transform: translate(-11.7rem, 15.6rem)
  
  100%
    transform: translate(-11.7rem, 0)